.search{
  background-image: url('./images/searchicon2.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.tab {
    background-color: rgb(244, 244, 244);
    color: rgb(33, 33, 33);
    min-height: 40px;
    padding: 0 10px 0 10px!important;
    align-items: stretch;
    display: flex;
    margin: 0;
    flex-direction: row;
    font-size: 14px;
    width: 100%;
    overflow-y: hidden;
}

@media (max-width: 882px) {
    .tab {
        display: none !important;
    }
}

.tab-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    outline: none;
    position: relative;
    cursor: pointer;
    -webkit-box-sizing: border-box;
}

.tab-wrapper:hover {
    background-color: rgb(200, 200, 200);
}

.tab a {
    outline: none;
    padding: 11px 11px 11px 11px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.tab a:active {
    color: inherit;
    text-decoration: none;
}

.tab a:hover {
    color: inherit;
    text-decoration: none;
}

.tab .displayed {
    color: rgb(16, 110, 190);    
}

.displayed::after {

    border-bottom: 2px solid;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
}

.invalid {
    border: 1px solid red;
}

/*??*/
.valid {
    border: 1px solid #ddd;
}

/**
 * SPINNER
 */
 
 .overlay {
    background: rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100vw;
    position:absolute;
    top:0;
    left: 0;
    overflow-y: hidden;
}

.spinner {
    font-size: 48px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.spinner.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
        -ms-transform-origin: center -0.2222em;
            transform-origin: center -0.2222em;
    -webkit-animation: spinner-fade 1s infinite linear;
            animation: spinner-fade 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
            animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
            animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
            animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
            animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
            animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
            animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
            animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
            animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
            animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
            animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
            animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg);
}

@-webkit-keyframes spinner-fade {
    0% {
      background-color: #69717d;
    }
    
    100% {
      background-color: transparent;
    }
  }
  
  @keyframes spinner-fade {
    0% {
      background-color: #69717d;
    }
    
    100% {
      background-color: transparent;
    }
  }

input{    
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

button {
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    background-color: rgb(16, 110, 190);;
    color: #fff;
}

button:hover {
    border: 1px solid #333;
}

.div-new-item {
    padding-top: 25px;
}

textarea {
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
}

.delete-me {
    float: right;
    margin-top: -6px;
}

.lazy {
    display: block;
}